[submodule "Submodules/zxing"]
	path = Submodules/zxing
	url = https://mikequillinan@github.com/mikequillinan/zxing.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
url=https://github.com/ShareKit/ShareKit.git
